<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="height: 300px; width: 100%; vertical-align: middle; text-align: center;">
        <td >
            <form action="{% url 'makeupload' %}" method='post' enctype="multipart/form-data">
                {% csrf_token %}
                {{form.foto_receita}}
                <div style="margin-top: 100px;">
                    <input type="submit" value="Upload" class="btn btn-success">  
                </div>
            </form>
        </td>
    </table>
</body>
</html>