<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="height: 300px; width: 100%; vertical-align: middle; text-align: center;">
        <td >
            <form method="post" class="col-12 col-sm-6 col-lg-4">
                <img src={{foto.foto_receita.url}} alt="Imagem não carrega" width="500" height="600">
            </form>
        </td>
    </table>
</body>
</html>